body{
    display: grid;
    place-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: hsl(0, 0%, 17%);
    color: white;
    user-select: none;
}

.main{
    display: flex;
    gap: 200px
}

.left h3{
    text-align: center;
}

#Coin{
    width: 100px;
    height: 100px;
}

#Coin:hover{
    opacity: 0.9;
}

#Coin:active{
    transform: scale(0.95);
}
.upgrade{
    display: flex;
    align-items: center;
    width: 330px;
    height: 60px;
    border: 4px solid white;
    border-radius: 5px;
    justify-content: space-between;
    padding: 10px 10px;
    position: relative;
    margin-bottom: 5px;
}
.mid-section h4{
    margin: 10px;
    font-size: 20px;
}
.mid-section p{
    margin: 10px;
}
.mid-section img{
    width: 35px;
    height: 35px;
}
.left-section{
    width: 60px
}
.upgrade-button{
    width: 80px;
    height: 23px;
    border-radius: 9px;
}

.upgrade-button:hover{
    opacity: 0.9;
}

.cost-info{
    display: flex;
}

.level-info{
    position: absolute;
    right: -105px;
    background-color: rgb(90, 90, 90);
    height: 80px;
    width: 100px;
    text-align: center;
    visibility: hidden;
}

.upgrade:hover .level-info{
    visibility: visible;
}

.upgrade.available .upgrade-button{ 
    background-color: rgb(187, 255, 103); 
}

.upgrade.unavailable .upgrade-button{
    background-color: rgb(255, 103, 103);
}

.upgrade.owned{
    background-color: rgb(125, 168, 107);
}
.upgrade.owned .upgrade-button{
    background-color: rgb(173, 173, 173);
    pointer-events: none;
 }
